* {/* configurações gerais */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

:root {/* variáveis em CSS*/
  --branco: white-space;
  --dark: black;
  --text:#EBB895;
  
}

/* 
      CONFIGURAÇÕES DO HEADER
*/

header {
  background: var(--branco);
  
}

.header-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 4%;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background-color: var(--branco);
}

h1 {
  color: var(--text);
  font-size: 1.7rem;
  font-weight: 450;
}

h1 > span {
  color: var(--dark);
  font-weight: 400;
}

#btnMenu > span {/* button toggle menu */
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 9999px;
  background-color: #FE2D2D;
}

#btnMenu > span:not(:last-child){
  margin-bottom: 7px;
}

#btnMenu, #btnMenu > span {
  transition: all .4s ease-in-out;
}

#btnMenu.ativo {
  background: crimson;
}

.nav-conteiner {/* div com o Menu */
  background-color: #58575ABD;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display:none ;
  transition: 0.2s
}

.nav-conteiner > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 4em;
  height: 70vh;
}

.nav-conteiner > nav > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
  display: block;
  font-size: 1.1em;
  margin-bottom: 2px solid #f000;
}

span#fec {
  position: absolute;
  left: 84%;
  top: 3%;
  font-size: 2em;
  color: orangered;
  border: 2px solid darkred;
  width: 13%;
  text-align: center;
  border-radius: 10%;
  transition: 0.1s;
}